attrs
causalgraphicalmodels
checkrs
click
coverage
fitter
flake8
flit
jupyterlab
jupytext
lxml
papermill
pip-tools
pipreqs
pre-commit
pylogit
pyprojroot
pytest
scikit-learn
seaborn
statsmodels
tensorflow<1.15.2
tensorflow-probability<0.9
torch<1.7.0
tqdm
